<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amrasabic.bitcamp.ba.bitbooking" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.SignInActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HotelActivity" >
            <intent-filter>
                <action android:name="android.intent.action.BOOKING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignUpActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SIGNUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RoomActivity" >
            <intent-filter>
                <action android:name="android.intent.action.ROOMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ReservationActivityNo" >
            <intent-filter>
                <action android:name="android.intent.action.RESERVATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ReservationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.DATEPICKER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PayPalActivity" >
        </activity>
    </application>

</manifest>
